<launch>

  <!-- Load the parameters used by the following nodes -->
  <rosparam command="load" file="$(find skid_robot)/param/base.yaml" />
  
  <!-- drive_base node is responsible for subscribing to Twist commands and executing by controlling the wheel motors -->
  <node name="drive_base" pkg="skid_robot" type="drive_base_node.py" output="screen">
    <param name="sensor_param" value="param_value" />
  </node>

  <!-- use static transform publisher to publish imu_link frame with respect to base_link 
       args: x y z yaw pitch roll frame_id child_frame_id
  -->
  <node name="imu_link_broadcaster" pkg="tf2_ros" type="static_transform_publisher" 
        args="0 0 0.05 0 0 0 imu_link base_link">    
  </node>

  <!-- publish sensor information: imu, wheel encoders -->
  <node name="sensor_base" pkg="skid_robot" type="skid_robot_node" >
  </node>

  <!--<node pkg="odom_node_pkg" type="odom_node_type" name="odom_node" output="screen">
    <param name="odom_param" value="param_value" />
  </node>
  <node pkg="transform_configuration_pkg" type="transform_configuration_type" name="transform_configuration_name" output="screen">
    <param name="transform_configuration_param" value="param_value" />
  </node>-->

</launch>
