<launch>

  <!-- Load the parameters used by the following nodes -->
  <rosparam command="load" file="$(find skid_robot)/param/base.yaml" />
  
  <!-- drive_base node is responsible for subscribing to Twist commands and executing by controlling the wheel motors -->
  <node pkg="skid_robot" type="drive_base_node.py" name="drive_base" output="screen">
    <param name="command" value="cmd_vel" />
  </node>

  <!-- use static transform publisher to publish imu_link frame with respect to base_link 
       args: x y z yaw pitch roll frame_id child_frame_id
  -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="imu_link_broadcaster"  
        args="0 0 0.05 0 0 0 base_link imu_link">    
  </node>

  <!-- publish sensor information: imu, wheel encoders -->
  <node pkg="skid_robot" type="skid_robot_node" name="sensor_base" output="screen" >
  </node>

  <!-- twist_mux node dies unexpectedly on ubuntu -->
  <!-- 
    <node pkg="twist_mux" type="twist_mux" name="twist_mux" output="screen">
      <rosparam command="load" file="$(find skid_robot)/param/twist_mux.yaml" />
      <remap from="cmd_vel_out" to="cmd_vel"/> 
    </node> 
  -->

  <!--<node pkg="odom_node_pkg" type="odom_node_type" name="odom_node" output="screen">
    <param name="odom_param" value="param_value" />
  </node>
  <node pkg="transform_configuration_pkg" type="transform_configuration_type" name="transform_configuration_name" output="screen">
    <param name="transform_configuration_param" value="param_value" />
  </node>-->

</launch>
